
<div class="container mt-4" >  
  <div class="home-block text-center text-white">
    <h1>Welcome to ALPHA Blog</h1>
    <p>
      Read interesting articles or create an own article.<br/>
      Let the world read your ideas.
    </p>
    <button type="button" class="btn btn-success">Sign up!</button>
  </div>
</div>