<div style="background-color:yellow;">
  <h1>ALPHA Blog App</h1>
  <p>Welcome to the <b>home</b> page site!</p>
</div>

<p>
  <%= link_to 'Articles listing', articles_path %> | 
  <%= link_to 'About page', about_path %>
</p>
